.box {
  border: 7px solid #ccc;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.msg {
  margin-top: 10px;
  color: green;
  font-weight: 500;
}
